body {
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}
header {
    margin-top: 30px;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}

header .logo h2,
header .logo span,
header .logo p {
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

header .logo h2 {
    font-weight: 800;
    text-transform: uppercase;
}
header .logo .planet {
    color:#bfbfbf
}
header .logo p {
    color: #777;
}

header .menu {
    padding: 0;
}

header .menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
}

header .menu a div span {
    font-weight: 600;
}

header .menu .color-1 { background: #95bff0}
header .menu .color-2 { background: #95F0AD}
header .menu .color-3 { background: #E795F0}
header .menu .color-1:hover { background: #0063DA}
header .menu .color-2:hover { background: #03F242 }
header .menu .color-3:hover { background: #AE00C1}

.slider {
    margin-bottom: 40px;
}

.lider .col {
    padding: 0;
}

.acerca-de {
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .foto {
    text-align: center;
}

.acerca-de .foto img {
    margin-bottom: 30px;
}

.acerca-de .foto .nombre {
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}
.acerca-de .info .titulo {
    color: #005385;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

.acerca-de .info .resumen {
    letter-spacing: 1px;
}

.acerca-de .info .label {
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}
.acerca-de .info .progress {
    background: #005385;
    border-radius: 0px;
    margin-bottom: 15px;

}

.acerca-de .info .progress-bar {
    height: 25px;
    background-color: #3da5e2;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}

/*Portafolio */
.portafolio {
    background: #fff;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
    margin-bottom: 40px;
}

.portafolio .titulo{
    padding:40px 0;
    text-align: center;
    color: #3da5e2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
    margin-bottom: 40px;
    max-height:180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen {
    display: inline-block;
    background: #3da5e2
}
.portafolio .galeria .contenedor-imagen a {
    display: inline-block;
    background: #3da5e2;
}
.portafolio .galeria .contenedor-imagen:hover img {
    opacity: .3;
}
.portafolio .modal-dialog {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

/* contacto */
.contacto {
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    margin-bottom: 40px;
}
.contacto .titulo {
    color: #003855;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.contacto .form-group{
    margin-bottom: 0;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
    padding: 15px;
    border: none;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px
}

.formulario textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}
.formulario .boton {
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.formulario .boton:hover {
    background: #1ba0ef;
}
